<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <h1>Editing restaurant</h1>

      <%= render "form", restaurant: @restaurant %>

      <br>

      <div>
        <%= link_to "Back", restaurants_path %>
      </div>
    </div>
  </div>
</div>
