<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <h1>Top 5 star restaurants</h1>
      <ul>
        <% @restaurants.each do |restaurant| %>
          <div class="card">
            <div class="card-header">
              <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
